<div class="container-fluid d-flex flex-column justify-content-center bg-light" style="min-height: 71vh;">

    <div class="row ml-5">
        <div class="col-md-4 mt-3">
            <a routerLink='/inicio' class="text-white bg-dark rounded text-decoration-none p-2">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                Inicio
            </a>
        </div>
    </div>

    <div class="row ml-5 mt-5 mb-3">
        <div class="col-md-12">
            <h1 class="text-dark">Atualizar meu perfil</h1>
        </div>
    </div>

    <div class=" row d-flex mx-5">

        <div class="col-md-10">

            <div class="form-group">
                <label for="nome" class="text-secondary font-weight-bold">Nome</label>
                <input 
                    [(ngModel)]='user.nome'
                    type="text" 
                    class="form-control" 
                    name="nome" 
                    id="nome" 
                    placeholder="Seu nome"
                >
            </div>

            <div class="form-group">
                <label for="sobre" class="text-secondary font-weight-bold">Sobre</label>
                <textarea 
                    [(ngModel)]='user.sobre' 
                    name="sobre" 
                    id="sobre" 
                    cols="30" 
                    rows="5" 
                    placeholder="Sobre Você"
                    class="form-control" >
                </textarea>
            </div>

            <div class="form-group">
                <label for="foto" class="text-secondary font-weight-bold">Link da foto</label>
                <input 
                    [(ngModel)]='user.foto'
                    type="text" 
                    class="form-control" 
                    name="foto" 
                    id="foto" 
                    placeholder="Link da sua foto">
            </div>

            <div class="form-group">
                <label for="senha" class="text-secondary font-weight-bold">Senha</label>
                <input 
                    (input)='confirmaSenha($event)'
                    type="password" 
                    class="form-control" 
                    name="senha" 
                    id="senha" 
                    placeholder="Sua senha">
            </div>

            <div class="form-group">
                <label for="confirmaSenha" class="text-secondary font-weight-bold">Confirmar senha</label>
                <input 
                    [(ngModel)]='user.senha'
                    type="password" 
                    class="form-control" 
                    name="confirmaSenha" 
                    id="confirmaSenha" 
                    placeholder="Confirme sua senha">
            </div>

            <div class="d-flex justify-content-start mb-5">
                <button class="btn btn-danger mr-4" routerLink='/inicio'>Cancelar</button>
                <button class="btn btn-success" (click)='atualizar()'>Atualizar</button>
            </div>

        </div>

    </div>
</div>
