<div class="container-fluid">

    <div class="row bg-dark d-flex align-items-center">

        <div class="col-md-6">

            <div class="row d-flex justify-content-center text-white">
                <div class="col-md-6">
                    <h1 class="fs-54">Seja Bem vindo(a)</h1>
                    <h5 class="fs-18">Expresse aqui seus pensamentos e opiniões</h5>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-1 mb-5">
                <div class="col-md-6">
                    <button 
                        class="btn btn-success mr-2 mt-3"
                        style="width: 140px;" 
                        data-toggle="modal" 
                        data-target="#novaPostagem"
                        >
                        Nova postagem
                    </button>
                    <a class="btn btn-outline-info mt-3" style="width: 140px;" href="#postagens">Ver postagens</a>
                </div>

            </div>

        </div>

        <div class="col-md-6 d-flex justify-content-center">
            <img src="https://i.imgur.com/ssiykNN.png" alt="" width="500px" height="500px">
        </div>

    </div>

</div>

<div class="container-fluid py-5 bg-light" id="postagens">
            
    <div class="row d-flex justify-content-center">
        <div class="col-md-4">
            <div class="form-group d-flex justify-content-center align-content-center">
                <select name="selecionaTipo" id="selecionaTipo" [(ngModel)]='selecionaTipo'>
                    <option value="tema">tema</option>
                    <option value="titulo">título</option>
                </select>
                <input *ngIf='pesquisa()' type="text" name="titulo" id="titulo" class="form-control" placeholder="Pesquisar por título" [(ngModel)]='tituloPost' (keyup)='findByTituloPostagem()'>
                <input *ngIf='!pesquisa()' type="text" name="tema" id="tema" class="form-control" placeholder="Pesquisar por tema" [(ngModel)]='temaPost' (keyup)='findByTemaPostagem()'>
            </div>
        </div>
    </div>

    <div *ngIf='pesquisa()' class="card-columns d-flex flex-column flex-wrap justify-content-center align-content-center">
        <div class="card mt-3 shadow border-0" style="width: 480px" *ngFor='let item of listaPostagens | orderBy: key: reverse'>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 d-flex align-content-center">
                        <img src="{{item.criador.foto}}" 
                            alt="Imagem do usuário" 
                            width="50px" 
                            height="50px" 
                            class="rounded-circle mr-2"
                        >
                        <div class="flex-column">
                            <a [routerLink]="['/user-page', item.criador.id]" class="card-subtitle my-2 text-muted font-weight-bolder">{{item.criador.nome}}</a>
                            <p class="small">
                                <small>{{item.date | date: 'dd/MM/yyyy'}} às {{item.date | date: 'HH:mm'}}</small>
                            </p>     
                        </div>
                    </div>
                </div>
                <h5 class="card-title mt-2">{{item.titulo}}</h5>
                <small class="text-muted font-italic">{{item.tema.descricao}}</small>
                <p class="card-text">{{item.texto}}</p>
            </div>
        </div>
    </div>
   
    <ng-container *ngIf='!pesquisa()'>
        <div class="card-columns d-flex flex-column flex-wrap justify-content-center align-content-center" *ngFor='let tema of listaTemas'>
            <div class="card mt-3 shadow border-0" style="width: 480px;" *ngFor='let item of tema.postagem'>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 d-flex align-content-center">
                            <img src="{{item.criador.foto}}" 
                                alt="Imagem do usuário" 
                                width="50px" 
                                height="50px" 
                                class="rounded-circle mr-2"
                            >
                            <div class="flex-column">
                                <a [routerLink]="['/user-page', item.criador.id]" class="card-subtitle my-2 text-muted font-weight-bolder">{{item.criador.nome}}</a>
                                <p class="small">
                                    <small>{{item.date | date: 'dd/MM/yyyy'}} às {{item.date | date: 'HH:mm'}}</small>
                                </p>     
                            </div>
                        </div>
                    </div>
                    <h5 class="card-title mt-2">{{item.titulo}}</h5>
                    <p class="card-text">{{item.texto}}</p>     
                </div>
                </div>
        </div>
    </ng-container>
</div>



<!-- Modal -->
<div class="modal fade" id="novaPostagem" tabindex="-1" aria-labelledby="TituloModalCentralizado" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="titulo">Título</label>
                        <input 
                            [(ngModel)]='postagem.titulo'
                            class="form-control"
                            type="text" 
                            name="titulo" 
                            id="titulo" 
                            placeholder="Digite o título"
                        >
                    </div>
                    
                    <div class="form-group">
                        <label for="texto">Texto</label>
                        <textarea 
                            [(ngModel)]='postagem.texto'
                            class="form-control" 
                            name="texto" 
                            id="texto" 
                            rows="3"
                            placeholder="Digite o texto">
                        </textarea>
                    </div>

                    <div class="form-group">
                        <label for="texto">Escolha um novo Tema ou <a routerLink='/tema' data-dismiss="modal">Cadastre um novo</a>:</label>
                        <select class="form-control" name="tema" id="tema" [(ngModel)]='idTema' (change)='findByIdTema()'>
                            <option *ngFor='let item of listaTemas' value="{{item.id}}">{{item.descricao}}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" (click)='publicar()' data-dismiss="modal">Publicar</button>
            </div>
        </div>
    </div>
</div>


